body {
    background-color: #FFFFFF;
}

.special-deals {

    background-color: inherit;
}

#slider {


    overflow: hidden;
    width: 578px;
    height: 399px;

}

#slider img {
    display: none;
    width: 578px;
    height: 399px;
}

.col-md-10 {

    background-color: #777777;
}

.col-md-2 {

    background-color: #888888;
}


#slideshow {

    margin-top: -10px;



}


#slideshow img {

    width: 837px;
    height: 318px;


}


#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.first {

    background-color: #ffffff;

}


.special-deals  img{

    width: 300px;
    height: 280px;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.thumbnail img {
    
    width: 242px;
    height: 200px;
}