body {
    background-color: #888888;
}

.special-deals {

    background-color: inherit;
}

#slider {


    overflow: hidden;
    width: 478px;
    height: 399px;

}

#slider img {
    display: none;
    width: 478px;
    height: 399px;
}

.col-md-10 {

    background-color: #777777;
}

.col-md-2 {

    background-color: #888888;
}


#slideshow {

    position: relative;



}


#slideshow img {

    width: 700px;
    height: 318px;


}


#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.first {

    background-color: #ffffff;

}


.special-deals  img{

    width: 300px;
    height: 280px;
}